@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: var(--font-size);
}

body {
  @apply bg-[color:var(--background-primary)] text-[color:var(--color-base)] text-[0.938rem];
  margin: 0;
  font-family: 'segoue ui', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

/* Custom box shadow */
.shadow-box {
  box-shadow: var(--box-shadow);
}

/* Input */
input:focus-within ~ label,
textarea:focus-within ~ label,
input:not(:placeholder-shown) ~ label,
textarea:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-4;
}

input:focus-within ~ label,
textarea:focus-within ~ label {
  @apply text-[color:var(--color-primary)];
}

input:focus-within ~ label ~ .second-label,
textarea:focus-within ~ label ~ .second-label {
  display: block;
}

.second-label {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

@layer components {
  .menu-items{
    font-size:large;
    padding: 1rem 0rem 1rem 0rem;
  }
}


/* Loading Icon */
.custom-loading-icon {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.custom-loading-icon circle {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 5;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}


/* RightSidebar hidden */
@media (max-width: 868px) {
  .right-sidebar {
      display: none !important;
  }
}

/* Search Loader */
.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: var(--color-primary);
  width: 100%;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 2s linear infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}