@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'segoue ui', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

/* Input */
input:focus-within ~ label,
textarea:focus-within ~ label,
input:not(:placeholder-shown) ~ label,
textarea:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-4;
}

input:focus-within ~ label,
textarea:focus-within ~ label {
  @apply text-blue-500;
}

input:focus-within ~ label ~ .second-label,
textarea:focus-within ~ label ~ .second-label {
  display: block;
}

.second-label {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

@layer components {
  .menu-items{
    font-size:large;
    padding: 1rem 0rem 1rem 0rem;
  }
}


/* Loading Icon */
.custom-loading-icon {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.custom-loading-icon circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 5;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}


/* RightSidebar hidden */
@media (max-width: 868px) {
  .right-sidebar {
      display: none !important;
  }
}